.caixa {
    padding: 20px;
    background-color: rebeccapurple;
}

#header {
    color: whitesmoke;
}

header {
    text-align: center;
    background-color: purple !important
}

.tabela {
    width: 46%;
    background-color: blue;
    float: left;

}

.lista {
    width: 47%;
    background-color: blueviolet;
    float: right;
}


.conteudo1 {
    min-height: 300px;
}


.input input textarea{
    font-size: large;
    width: 100%;

}
